/*****************
***Root section***
******************/

:root {
  --headerBG: #675d50;
  --mainBg: #f3deba;
  --formBG: #a9907e;
  --bgButton: #abc4aa;
  --colorButton: red;
  --padS: 0.5rem;
  --padM: 1rem;
  --padL: 1.5rem;
  --padXL: 2rem;
}

* {
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

html {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: var(--black);
}

body {
  width: 100%;
  min-height: 100vh;
  text-align: left;
  background-color: white;
  display: grid;
  grid-template: 150px 1fr / 1fr;
  justify-items: center;
}

img {
  display: block;
  max-width: 100%;
}

/***********
***Header***
***********/

header {
  width: 100%;
  padding: var(--padXL);
  background-color: var(--headerBG);
  color: var(--black);
  font-weight: 700;
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

#add {
  background-color: var(--bgButton);
  color: var(--colorButton);
  border-radius: 5px;
  outline: 1px solid grey;
  padding: var(--padM) var(--padS);
  display: block;
  cursor: pointer;
}

#add:hover {
  opacity: 0.5;
  outline: 2px solid green;
  transition-duration: 0.3s;
}

#add:active {
  box-shadow: 0 2px #666;
  transform: translateY(3px);
}

/*********
***Main***
*********/

main {
  width: 100%;
  display: grid;
  place-items: center;
  background-color: var(--mainBg);
  position: relative;
}

/***************
***Input form***
***************/

form {
  width: 400px;
  padding: var(--padXL) var(--padM);
  background-color: var(--formBG);
  text-align: center;
  display: none;
  grid-template: repeat(5, 1fr) / 1fr 5fr;
  gap: var(--padM);
}

form h1 {
  grid-column: 1 / 3;
}

form label,
form input[type="submit"] {
  margin-top: var(--padM);
  margin-bottom: var(--padS);
}

form input {
  font-size: 1.25rem;
}

#submit {
  grid-column: 2 / 3;
  padding: var(--padS);
  justify-self: center;
  width: 60%;
  border-radius: 5px;
  background-color: var(--bgButton);
  color: var(--colorButton);
  cursor: pointer;
}

#submit:hover {
  opacity: 0.5;
  outline: 2px solid green;
  transition-duration: 0.3s;
}

#submit:active {
  box-shadow: 0 2px #666;
  transform: translateY(3px);
}

/******************
***Library cards***
******************/

#library {
  margin: 0 var(--padXL);
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(6, 1fr);
  grid-auto-rows: 1fr;
  gap: var(--padM) var(--padXL);
  position: absolute;
}

.card {
  width: 200px;
  position: relative;
  background-color: var(--formBG);
  color: black;
}

.card > p {
  padding: var(--padS);
  min-height: 65px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card > p:nth-child(1)::before {
  content: "Title: ";
  font-weight: 700;
}

.card > p:nth-child(2)::before {
  content: "Author: ";
  font-weight: 700;
}

.card > p:nth-child(3)::before {
  content: "Pages: ";
  font-weight: 700;
}

.true {
  color: green;
}

.false {
  color: red;
}

.true:hover,
.false:hover {
  opacity: 0.8;
  outline: 2px solid grey;
  transition-duration: 0.3s;
}

.true:active, .false:active {
  box-shadow: 0 2px #222;
  transform: translateY(3px);
}

.card > p:nth-child(4) {
  cursor: pointer;
}

.card > p:nth-child(4)::before {
  content: "Read: ";
  font-weight: 700;
}

.indexNo {
  color: blue;
  border: 1px solid grey;
  background-color: var(--mainBg);
  position: absolute;
  top: 0px;
  right: 0px;
}

/******************
***Delete button***
******************/

.delete {
  display: block;
  padding: var(--padS);
  margin: 5px auto;
  width: 60%;
  border-radius: 5px;
  background-color: var(--bgButton);
  color: var(--colorButton);
  cursor: pointer;
}

.delete:hover {
  opacity: 0.5;
  outline: 2px solid green;
  transition-duration: 0.3s;
}

.delete:active {
  box-shadow: 0 2px #666;
  transform: translateY(3px);
}
