/*****************
** Root section **
******************/

:root {
  --headerBG: #675d50;
  --mainBg: #f3deba;
  --formBG: #a9907e;
  --bgButton: #abc4aa;
  --colorButton: red;
  --padS: 0.5rem;
  --padM: 1rem;
  --padL: 1.5rem;
  --padXL: 2rem;
}

* {
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: var(--black);
}

body {
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
}

img {
  display: block;
  max-width: 100%;
}

/***********
** Header **
***********/

header {
  width: 100%;
  padding: var(--padXL);
  background-color: var(--headerBG);
  color: var(--black);
  font-weight: 700;
  display: flex;
  justify-content: space-evenly;
}

/*************
***  Main  ***
*************/

main {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background-color: var(--mainBg);
}

/***************
***  Fields  ***
***************/

.gameBoard {
  display: grid;
  grid-template: repeat(3, 150px) / repeat(3, 150px);
}

.field {
  background-color: var(--bgButton);
  border: 1px solid black;
}
